* {
    margin: 0px;
    padding: 0px;
}
body{
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

p{
    font-size: 20px;
}
  
.text-link {
    text-decoration: none;
    color: whitesmoke;
    margin: 10px;
    justify-content: center;
    font-size: 20px;
}
.text-link:hover{
    color: rgb(235, 97, 150);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.itemDetail{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: auto;

}
